
.grid-button {
    height: 20px;
    background-color: #FBE5D8;
    border-radius: 4px;
    font-size: 13px;
    margin-left: 4px;
    border: 1px;
}

@media screen and (max-width:2200px) {
    .table {
        & .MuiTableCell-root {
            font-size: 22px;
        }
    }
    .tr{
        .MuiTypography-root{
            margin-top: 10px;
            margin-left: 15px;
        }
    }
    .landowner-avatar{
        width: 90%;
        margin-top: 10px;
    }
    .grid-item{
        margin-left: 0px;
        

    }
    .grid-item .grid-item-card{
        width: 90%;
    }
    .grid-item-card .typo1{
        font-size: 22px;
    }

    .grid-item-card .avatar{
        
        margin-left: 120px;
    }
    .grid-item-card .name,
    .grid-item-card .grid-button,
    .grid-item-card .contact{
        font-size: 22px;
        left: 80px;
        position: relative;
    }
}

@media screen and (max-width:1920px) {
    .table {
        & .MuiTableCell-root {
            font-size: 20px;
        }
    }
    .tr{
        .MuiTypography-root{
            margin-top: 10px;
            margin-left: 10px;
        }
    }
    .landowner-avatar{
        width: 80%;
        margin-top: 10px;
    }
    .grid-item{
        margin-left: 0px;

    }
    .grid-item .grid-item-card{
        width: 90%;
    }
    .grid-item-card .typo1{
        font-size: 20px;
    }

    .grid-item-card .avatar{
        
        margin-left: 90px;
    }
    .grid-item-card .name,
    .grid-item-card .grid-button,
    .grid-item-card .contact{
        font-size: 20px;
        left: 65px;
        position: relative;
    }
}

@media screen and (max-width:1660px) {
    .table {
        & .MuiTableCell-root {
            font-size: 18px;
        }
    }
    .tr{
        .MuiTypography-root{
            margin-top: 15px;
        }
    }
    .landowner-avatar{
        width: 70%;
        margin-top: 15px;
    }
    .grid-item{
        margin-left: 0px;

    }
    .grid-item .grid-item-card{
        width: 85%;
    }
    .grid-item-card .typo1{
        font-size: 18px;
    }

    .grid-item-card .avatar{
        
        margin-left: 50px;
    }
    .grid-item-card .name,
    .grid-item-card .grid-button,
    .grid-item-card .contact{
        font-size: 18px;
        left: 30px;
        position: relative;
    }
}

@media screen and (max-width:1520px) {
    .table {
        & .MuiTableCell-root {
            font-size: 16px;
        }
    }
    .tr{
        .MuiTypography-root{
            margin-top: 15px;
        }
    }
    .landowner-avatar{
        width: 60%;
        margin-top: 15px;
    }
    .grid-item{
        margin-left: 0px;

    }
    .grid-item .grid-item-card{
        width: 85%;
    }
    .grid-item-card .typo1{
        font-size: 16px;
    }

    .grid-item-card .avatar{
        
        margin-left: 30px;
    }
    .grid-item-card .name,
    .grid-item-card .grid-button,
    .grid-item-card .contact{
        font-size: 16px;
        left: 30px;
        position: relative;
    }
}

@media screen and (max-width:1440px) {
    .table {
        & .MuiTableCell-root {
            font-size: 14px;
        }
    }
    .tr{
        .MuiTypography-root{
            margin-top: 15px;
        }
    }
    .landowner-avatar{
        width: 60%;
        margin-top: 15px;
    }
    .grid-item{
        margin-left: 0px;

    }
    .grid-item .grid-item-card{
        width: 85%;
    }
    .grid-item-card .typo1{
        font-size: 14px;
    }

    .grid-item-card .avatar{
        
        margin-left: 20px;
    }
    .grid-item-card .name,
    .grid-item-card .grid-button,
    .grid-item-card .contact{
        font-size: 14px;
        left: 20px;
        position: relative;
    }
}

@media screen and (max-width:1366px) {
    .table {
        & .MuiTableCell-root {
            font-size: 14px;
        }
    }
    .tr{
        .MuiTypography-root{
            /* margin-top: 15px; */
        }
    }
    .landowner-avatar{
        width: 60%;
        /* margin-top: 15px; */
    }
    .grid-item{
        margin-left: 0px;

    }
    .grid-item .grid-item-card{
        width: 85%;
    }
    .grid-item-card .typo1{
        font-size: 14px;
    }

    .grid-item-card .avatar{
        
        margin-left: 20px;
    }
    .grid-item-card .name,
    .grid-item-card .grid-button,
    .grid-item-card .contact{
        font-size: 14px;
        left: 20px;
        position: relative;
    }
}

@media screen and (max-width:1280px) {
    .table {
        & .MuiTableCell-root {
            font-size: 13px;
        }
    }
    .tr{
        .MuiTypography-root{
            margin-top: 21px;
        }
    }
    .landowner-avatar{
        width: 60%;
        margin-top: 20px;
    }
    .grid-item{
        margin-left: 0px;

    }
    .grid-item .grid-item-card{
        width: 80%;
    }
    .grid-item-card .typo1{
        font-size: 14px;
    }

    .grid-item-card .avatar{
        
        margin-left: 5px;
    }
    .grid-item-card .name,
    .grid-item-card .grid-button,
    .grid-item-card .contact{
        font-size: 14px;
        left: 5px;
        position: relative;
    }
}

@media screen and (max-width:1120px) {
    .table {
        & .MuiTableCell-root {
            font-size: 12px;
        }
    }
    .tr{
        .MuiTypography-root{
            margin-top: 22px;
        }
    }
    .status-button{
        width: 10%;
    }
    .landowner-avatar{
        width: 50%;
        margin-top: 20px;
    }
    .grid-item{
        margin-left: 0px;

    }
    .grid-item .grid-item-card{
        width: 80%;
    }
    .grid-item-card .typo1{
        font-size: 14px;
    }

    .grid-item-card .avatar{
        
        margin-left: -10px;
    }
    .grid-item-card .name,
    
    .grid-item-card .contact{
        font-size: 12px;
        left: -10px;
        position: relative;
    }
    .grid-item-card .grid-button{
        font-size: 12px;
        left: -10px;
        position: relative;
    }
    
}