.graphicSide {
    width: 50vw;
    height: 100vh;
}
.signin-form {
    padding: 100px 130px 0px 130px;
}

.logo {
    margin-bottom: 30px;
}
.signintext {
    font-weight: 600;
    font-size: 28px;
    line-height: 42.9px;
}

.login-textfield{
    width: 100%;
}

.button {
    width: 50%;
    height: 35px;
    top: 15px;
}

.otheracc {
    font-weight: 400;
    font-size: 18px;
    line-height: 21.86px;
    color: #232D42;
    top: 10px;
    position: relative;
}
.googleicon{
    margin-top: 10px;
}




@media screen and (max-width:2200px) {
    .graphicSide {
        height: 100vh;
        width: 50vw;
    }
    .signin-form {
        padding: 200px 200px 0px 200px;
    }
    .finalLogo {
        width: 43%;
        height: 43%;
    }
    .logo{
        width: 100%;
        margin-bottom: 150px;
    }
    .signintext {
        font-size: 54px;
    }
    .login-textfield{
        width: 100%;
        top: 30px;
    }
    .button{
        top: 50px;
        width: 30%;
    }
    .otheracc{
        font-size: 24px;
        top: 80px;
    }
    .googleicon{
        margin-top: 80px;
    }
}

@media screen and (max-width:1920px) {
    .graphicSide {
        height: 100vh;
        width: 50vw;
    }
    .signin-form {
        padding: 200px 200px 0px 200px;
    }
    .finalLogo {
        width: 45%;
        height: 45%;
    }
    .logo{
        width: 100%;
        margin-bottom: 130px;
    }
    .signintext {
        font-size: 52px;
    }
    .login-textfield{
        top: 30px;
    }
    .button{
        top: 50px;
    }
    .otheracc{
        font-size: 20px;
        top: 70px;
    }
    .googleicon{
        margin-top: 70px;
    }
}

@media screen and (max-width:1660px) {
    .graphicSide {
        height: 100vh;
        width: 50vw;
    }
    .signin-form {
        padding: 200px 200px 0px 200px;
    }
    .finalLogo {
        width: 44%;
        height: 44%;
    }
    .logo{
        width: 100%;
        margin-bottom: 100px;
    }
    .signintext {
        font-size: 42px;
    }
    .login-textfield{
        top: 20px;
    }
    .button{
        top: 40px;
    }
    .otheracc{
        font-size: 20px;
        top: 50px;
    }
    .googleicon{
        margin-top: 50px;
    }
}

@media screen and (max-width:1520px) {
    .graphicSide {
        height: 100vh;
        width: 50vw;
    }
    .signin-form {
        padding: 200px 170px 0px 170px;
    }
    .finalLogo {
        width: 42%;
        height: 42%;
    }
    .logo{
        width: 100%;
        margin-bottom: 80px;
    }
    .signintext {
        font-size: 36px;
    }
    .login-textfield{
        top: 10px;
    }
    .button{
        top: 40px;
    }
    .otheracc{
        font-size: 18px;
        top: 50px;
    }
    .googleicon{
        margin-top: 50px;
    }
}

@media screen and (max-width:1440px) {
    .graphicSide {
        height: 100vh;
        width: 50vw;
    }
    .signin-form {
        padding: 200px 170px 0px 170px;
    }
    .finalLogo {
        width: 44%;
        height: 44%;
    }
    .logo{
        width: 100%;
        margin-bottom: 70px;
    }
    .signintext {
        font-size: 36px;
    }
    .login-textfield{
        top: 10px;
    }
    .button{
        top: 30px;
    }
    .otheracc{
        font-size: 16px;
        top: 50px;
    }
    .googleicon{
        margin-top: 50px;
    }
}

@media screen and (max-width:1366px) {
    .graphicSide {
        height: 100vh;
        width: 50vw;
    }
    .signin-form {
        padding: 150px 150px 0px 150px;
    }
    .finalLogo {
        width: 44%;
        height: 44%;
    }
    .logo{
        width: 100%;
        margin-bottom: 50px;
    }
    .signintext {
        font-size: 34px;
    }
    .login-textfield{
        top: 10px;
    }
    .button{
        top: 30px;
    }
    .otheracc{
        font-size: 14px;
        top: 30px;
    }
    .googleicon{
        margin-top: 30px;
    }
}

@media screen and (max-width:1280px) {
    .graphicSide {
        height: 100vh;
        width: 50vw;
    }
    .signin-form {
        padding: 150px 150px 0px 150px;
    }
    .finalLogo {
        width: 44%;
        height: 44%;
    }
    .logo{
        width: 100%;
        margin-bottom: 50px;
    }
    .signintext {
        font-size: 32px;
    }
    .login-textfield{
        top: 10px;
    }
    .button{
        top: 20px;
        width: 35%;
    }
    .otheracc{
        font-size: 12px;
        top: 30px;
    }
    .googleicon{
        margin-top: 30px;
    }
}

@media screen and (max-width:1120px) {
    .graphicSide {
        height: 100vh;
        width: 50vw;
    }
    .signin-form {
        padding: 150px 120px 0px 120px;
    }
    .finalLogo {
        width: 44%;
        height: 44%;
    }
    .logo{
        width: 100%;
        margin-bottom: 30px;
    }
    .signintext {
        font-size: 28px;
    }
    .login-textfield{
        top: 0px;
        & .MuiInputLabelProps-root{
            font-size: 5px;
        }
        & .MuiInputBase-root{
            height: 50px;

        }
        
    }
    .button{
        top: 10px;
        width: 34%;
    }
    .otheracc{
        font-size: 10px;
        top: 0px;
    }
    .googleicon{
        width: 10%;
        margin-top: 0px;
    }
}