.search-bar {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 5px;
    color: inherit;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    height: 15px;
    margin-top: 5px;
    /* margin-left: 130px; */
}

.searchicon {
    margin-right: -30px;
    margin-left: 890px;
    margin-top: 10px;
}

.filtericon {
    padding: 10px 10px 10px 10px;
    /* color: white; */
    background-color: rgb(249, 246, 246);
    margin-top: 5px;
    margin-left: 10px;
}

.events-cards {
    border: 1px solid lightgray;
    border-radius: 10px;

}

.grid-button {
    height: 20px;
    background-color: #FBE5D8;
    border-radius: 4px;
    font-size: 13px;
    margin-left: 4px;
    border: 1px;
}

.fieldname {
    margin-right: 5px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    /* padding-left: 20px; */
    padding-top: 5px;
}

.crop-name {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    padding-top: 5px;

}

.date {
    margin-right: 10px;
    font-size: 14px;
    font-family: sans-serif;
    margin-top: 8px;
}

.time {
    margin-right: 10px;
    font-size: 14px;
    font-family: sans-serif;
    margin-top: 8px;
}


.filter {
    padding-left: 20px;
    font-weight: bold;
}

.textfield {
    height: 30px;
    width: 215px;
}

.select {
   border-radius: 10px;
    width: 100%;
    height: 50px;
}

.buttons {
    height: 25px;
    width: 40px
}

.ev-close-img {
    margin-bottom: 77px;
    margin-left: -60px;
    color: white;
    font-size: bold;
}

.event-images {
    margin-top: 10px;
}

.event-form {
    height: 475px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
    border: 2px solid rgb(233, 230, 230);
    border-radius: 8px;
}

.formheader {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(233, 230, 230, 0.438);
}

.formheader .event-selection {
    font-size: 16px;
    top: 10px;
    position: relative;
    margin-left: 10px;

}

.textfields {
    margin-left: 30px;
    padding-right: 20px;
    margin-top: 30px;
    gap: 20px;
    display: grid;
    overflow: auto;
    height: 55vh;
}



.links {
    /* margin-left: 300px; */
    margin-top: 5px;
}

.links .profile-title {
    margin-top: 10px;
    font-weight: bold;
    font-size: 22px;
    margin-right: 500px;
    font-family: Arial, Helvetica, sans-serif;
}


.links .add-landparcel-btn {
    font-size: 12px;
    margin-top: -80px;
    height: 40px;
    margin-left: 900px;
    color: black;
    background: rgba(140, 216, 103, 1);
    border: 1px solid black;
    border-radius: 5px;
}

.call-icon {
    margin-left: 100px;
    margin-top: 10px;
    font-size: 15px;
    display: flex;
    gap: 10px;
}

.notes {
    margin-right: 10px;
    margin-top: 10px;
    border: 2px solid rgb(233, 230, 230);
    padding: 10px;
    border-radius: 10px;
    line-height: 30px;
}

.close-img {
    margin-bottom: 75px;
    margin-left: -30px;
    color: white;
    font-size: bold;
}

.three-buttons {
    height: 30px;

}

.myDiv {
    position: relative;
    margin-bottom: 20px;
}

.myDiv.formVisibleTrue {
    margin-top: 0px;
    margin-left: 740px;
}

.myDiv.formVisibleFalse {
    margin-top: 330px;
    margin-left: 855px;
}

@media screen and (max-width:2200px) {
    .events-cards {
        width: 90%;

        & .MuiTypography-root {
            font-size: 22px;
        }
    }

    .events-cards {
        display: flex;
        padding: 20px;
        margin-top: 10px;
    }

    .title {
        margin-top: 10px;
    }

    .call-icon {
        margin-left: 240px;
    }

    .event-images,
    .notes-title {
        font-size: 22px;

    }

    .images4 img {
        width: 80%;
        margin-top: 10px;
    }

    .notes {
        font-size: 22px;
        margin-right: 30px;
        padding: 20px;
        line-height: 40px;
    }

    .event-form,
    .event-form .formheader .event-selection {
        width: 100%;
        height: 550px;
        font-size: 22px;
        gap: 30px;

        & .MuiInputBase-root {
            font-size: 22px;
        }
    }
    
    .textfields{
        overflow: auto;
        height: 35vh;
    }

    .myDiv {
        position: relative;
        margin-bottom: 20px;
    }

    .myDiv.formVisibleTrue {
        margin-top: 0px;
        margin-left: 80%;
    }

    .myDiv.formVisibleFalse {
        margin-top: 35%;
        margin-left: 74%;
    }

    .pagination {
        display: flex;
        justify-content: flex-end;
        margin-left: -20px;
    }

    .total-events {
        & .MuiTypography-root {
            font-size: 22px;
        }
    }
}

@media screen and (max-width:1920px) {
    .events-cards {
        width: 90%;

        & .MuiTypography-root {
            font-size: 20px;
        }
    }

    .events-cards {
        display: flex;
        padding: 20px;
        margin-top: 10px;
    }

    .title {
        margin-top: 10px;
    }

    .call-icon {
        margin-left: 170px;
    }

    .event-images,
    .notes-title {
        font-size: 20px;

    }

    .images4 img {
        width: 70%;
    }
    
    .notes {
        font-size: 20px;
        margin-right: 30px;
        padding: 20px;
    }

    .event-form,
    .event-form .formheader .event-selection {
        width: 100%;
        height: 500px;
        font-size: 20px;
        gap: 30px;

        & .MuiInputBase-root {
            font-size: 20px;
        }
    }

    .myDiv {
        position: relative;
        margin-bottom: 20px;
    }

    .myDiv.formVisibleTrue {
        margin-top: 0px;
        margin-left: 77%;
    }

    .myDiv.formVisibleFalse {
        margin-top: 48%;
        margin-left: 70%;
    }

}

@media screen and (max-width:1660px) {
    .events-cards {
        width: 85%;

        & .MuiTypography-root {
            font-size: 18px;
        }
    }

    .events-cards {
        display: flex;
        padding: 20px;
        margin-top: 10px;
    }

    .title {
        margin-top: 10px;
    }

    .call-icon {
        margin-left: 100px;
    }

    .event-images,
    .notes-title {
        font-size: 18px;

    }

    .images4 img {
        width: 70%;
    }

    .notes {
        font-size: 18px;
        margin-right: 30px;
        padding: 20px;
        line-height: 30px;
    }

    .event-form,
    .event-form .formheader .event-selection {
        width: 100%;
        height: 480px;
        font-size: 18px;
        gap: 30px;

        & .MuiInputBase-root {
            font-size: 18px;
        }
    }

    .myDiv {
        position: relative;
        margin-bottom: 20px;
    }

    .myDiv.formVisibleTrue {
        margin-top: 0px;
        margin-left: 73%;
    }

    .myDiv.formVisibleFalse {
        margin-top: 38%;
        margin-left: 64%;
    }
    .total-events {
        & .MuiTypography-root {
            font-size: 18px;
        }
    }
}

@media screen and (max-width:1520px) {
    .events-cards {
        width: 85%;

        & .MuiTypography-root {
            font-size: 16px;
        }
    }

    .events-cards {
        display: flex;
        padding: 20px;
        margin-top: 10px;
    }

    .title {
        margin-top: 10px;
    }

    .call-icon {
        margin-left: 70px;
    }

    .event-images,
    .notes-title {
        font-size: 20px;

    }

    .images4 img {
        width: 80%;
    }

    .notes {
        font-size: 18px;
        margin-right: 30px;
        padding: 20px;
    }

    .event-form,
    .event-form .formheader .event-selection {
        width: 100%;
        font-size: 20px;
        gap: 30px;

        & .MuiInputBase-root {
            font-size: 20px;
        }
    }

    .event-form .formheader {
        & .MuiInputBase-root {
            width: 90%;
        }
    }

    .myDiv {
        position: relative;
        margin-bottom: 20px;
    }

    .myDiv.formVisibleTrue {
        margin-top: 0px;
        margin-left: 70%;
    }

    .myDiv.formVisibleFalse {
        margin-top: 45%;
        margin-left: 60%;
    }
    .total-events {
        & .MuiTypography-root {
            font-size: 16px;
        }
    }
}

@media screen and (max-width:1440px) {
    .events-cards {
        width: 85%;

        & .MuiTypography-root {
            font-size: 14px;
        }
    }

    .events-cards {
        display: flex;
        padding: 20px;
        margin-top: 10px;
    }

    .title {
        margin-top: 10px;
    }

    .call-icon {
        margin-left: 50px;
    }

    .event-images,
    .notes-title {
        font-size: 18px;

    }

    .images4 img {
        width: 80%;
    }

    .notes {
        font-size: 16px;
        margin-right: 30px;
        padding: 15px;
    }

    .event-form,
    .event-form .formheader .event-selection {
        width: 100%;
        font-size: 20px;

        & .MuiInputBase-root {
            font-size: 18px;
        }
    }

    .event-form .formheader {
        width: 100%;

        & .MuiInputBase-root {
            width: 80%;
        }
    }

    .myDiv {
        position: relative;
        margin-bottom: 20px;
    }

    .myDiv.formVisibleTrue {
        margin-top: 0px;
        margin-left: 67%;
    }

    .myDiv.formVisibleFalse {
        margin-top: 50%;
        margin-left: 58%;
    }
    .total-events {
        & .MuiTypography-root {
            font-size: 16px;
        }
    }
}

@media screen and (max-width:1366px) {
    .events-cards {
        border: 1px solid lightgray;
        border-radius: 10px;

        & .MuiTypography-root {
            font-size: 14px;
        }
    }

    .events-cards {
        margin-top: 10px;
        display: flex;
        padding: 20px;
        width: 80%;
    }

    .grid-item .events-cards .vector-img {
        width: 100%;
        height: 100%;

    }

    .title {
        margin-top: 10px;
    }

    .call-icon {
        margin-left: 30px;
        font-size: 14px;
    }

    .event-images,
    .notes-title {
        font-size: 18px;
        margin-top: 20px;

    }

    .images4 img {
        width: 80%;
        margin-top: 5px;
    }

    .notes {
        font-size: 16px;
        margin-right: 10px;
        padding: 10px;
    }

    .event-form,
    .event-form .formheader .event-selection {
        width: 100%;
        font-size: 16px;

        & .MuiInputBase-root {
            font-size: 16px;
            margin-left: -10px;
        }
    }

    .event-form .formheader {
        & .MuiInputBase-root {
            width: 80%;
        }
    }
    .myDiv {
        position: relative;
        margin-bottom: 20px;
    }

    .myDiv.formVisibleTrue {
        margin-top: 0px;
        margin-left: 65%;
    }

    .myDiv.formVisibleFalse {
        margin-top: 25%;
        margin-left: 55%;
    }
    .total-events {
        & .MuiTypography-root {
            font-size: 14px;
        }
    }
}

@media screen and (max-width:1280px) {
    .events-cards {
        width: 80%;

        & .MuiTypography-root {
            font-size: 14px;
        }
    }

    .events-cards {
        display: flex;
        padding: 20px;
        margin-top: 10px;
    }

    .vector-img {
        margin-left: -10px;
    }

    .title {
        margin-top: 10px;
    }

    .call-icon {
        margin-left: 16px;
    }

    .event-images,
    .notes-title {
        font-size: 18px;

    }

    .images4 img {
        width: 80%;
    }

    .notes {
        font-size: 16px;
        margin-right: 0px;
        padding: 8px;
    }

    .event-form,
    .event-form .formheader .event-selection {
        width: 100%;
        font-size: 16px;

        & .MuiInputBase-root {
            font-size: 16px;
        }
    }

    .event-form .formheader {
        & .MuiInputBase-root {
            width: 90%;
        }
    }

    .myDiv {
        position: relative;
        margin-bottom: 20px;
    }

    .myDiv.formVisibleTrue {
        margin-top: 0px;
        margin-left: 63%;
    }

    .myDiv.formVisibleFalse {
        margin-top: 62%;
        margin-left: 51%;
    }
    .total-events {
        & .MuiTypography-root {
            font-size: 14px;
        }
    }
}

@media screen and (max-width:1120px) {
    .events-cards {
        width: 80%;

        & .MuiTypography-root {
            font-size: 12px;
        }
    }

    .events-cards {
        display: flex;
        padding: 20px;
        margin-top: 10px;
    }

    .vector-img {
        width: 100%;
        height: 100%;
        margin-left: -0px;
    }

    .title {
        margin-top: 10px;
    }

    .call-icon {
        margin-left: -20px;
        font-size: 14px;
    }

    .event-images,
    .notes-title {
        font-size: 16px;

    }

    .images4 img {
        width: 90%;
    }

    .notes {
        font-size: 14px;
        margin-right: 0px;
        padding: 5px;
    }

    .event-form,
    .event-form .formheader .event-selection {
        width: 100%;
        font-size: 14px;

        & .MuiInputBase-root {
            font-size: 14px;
        }
    }

    .event-form .formheader {
        & .MuiInputBase-root {
            width: 90%;
        }
    }

    .myDiv {
        position: relative;
        margin-bottom: 20px;
    }

    .myDiv.formVisibleTrue {
        margin-top: 0px;
        margin-left: 55%;
    }

    .myDiv.formVisibleFalse {
        margin-top: 74%;
        margin-left: 42%;
    }
    .total-events {
        & .MuiTypography-root {
            font-size: 12px;
        }
    }
}